body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
    padding: 30px;

}
.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 31%);
    text-shadow: 2px 2px 2px black;
    margin-bottom: 25px;
}
.control button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    cursor: pointer;
    color: wheat;
    transition: background-color 0.5s ease;
}
.start-button{

    background-color: hsl(84, 100%, 30%);
}
.start-button:hover{
    background-color: hsl(84, 100%, 41%);
}
.stop-button{

    background-color: hsl(9, 97%, 47%);
}
.stop-button:hover{
     background-color: hsl(9, 97%, 37%)
}
.reset-button{

    background-color: hsl(215, 89%, 32%);
}
.reset-button:hover{
     background-color: hsl(215, 89%, 22%);
}